name: minimal-schema

description: |
  Check that minimal schema is up-to-date.

on:
  pull_request:
    paths-ignore:
    - CHANGELOG.md

jobs:
  check_minimal_schema:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ env.PR_COMMIT_SHA }}
          submodules: true
      - name: make upstream
        run: make upstream
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
          cache-dependency-path: |
            provider/go.sum
            upstream/go.sum
      - name: make minimal_schema_no_deps
        run: make minimal_schema_no_deps
      - name: Check worktree clean
        uses: pulumi/git-status-check-action@v1
        with:
          allowed-changes: |
            sdk/**/pulumi-plugin.json
            sdk/dotnet/Pulumi.*.csproj
            sdk/go/**/pulumiUtilities.go
            sdk/nodejs/package.json
            sdk/python/pyproject.toml
