env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  warn_codegen:
    name: warn_codegen
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    - id: schema_changed
      name: Check for diff in schema
      uses: dorny/paths-filter@v2
      with:
        filters: "changed: 'provider/cmd/**/schema.json'"
    - id: sdk_changed
      if: steps.schema_changed.outputs.changed == 'false'
      name: Check for diff in sdk/**
      uses: dorny/paths-filter@v2
      with:
        filters: "changed: 'sdk/**'"
    - if: steps.sdk_changed.outputs.changed == 'true' &&
        github.event.pull_request.head.repo.full_name != github.repository
      name: Send codegen warning as comment on PR
      uses: thollander/actions-comment-pull-request@v1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        message: >
          Hello and thank you for your pull request! :heart: :sparkles:

          It looks like you're directly modifying files in the language SDKs, many of which are autogenerated.

          Be sure any files you're editing do not begin with a code generation warning.

          For generated files, you will need to make changes in `resources.go` instead, and [generate the code](https://github.com/pulumi/${{ github.event.repository.name }}/blob/master/CONTRIBUTING.md#committing-generated-code).
name: warn-codegen
on:
  pull_request_target:
    branches:
    - main
    - master
    types:
    - opened
