env:
  AWS_REGION: us-west-2
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
  NUGET_PUBLISH_KEY: ${{ secrets.NUGET_PUBLISH_KEY }}
  PROVIDER: aws
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_GO_DEP_ROOT: ${{ github.workspace }}/..
  PULUMI_LOCAL_NUGET: ${{ github.workspace }}/nuget
  PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
  SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  TRAVIS_OS_NAME: linux
jobs:
  update_bridge:
    name: update-bridge
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v2
    - name: Checkout Scripts Repo
      uses: actions/checkout@v2
      with:
        path: ci-scripts
        repository: pulumi/scripts
    - name: Unshallow clone for tags
      run: git fetch --prune --unshallow --tags
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{matrix.goversion}}
    - name: Install pulumictl
      uses: jaxxstorm/action-install-gh-release@v1.2.0
      with:
        repo: pulumi/pulumictl
    - name: Install Pulumi CLI
      uses: pulumi/action-install-pulumi-cli@v2
    - name: Setup DotNet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{matrix.dotnetversion}}
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: ${{matrix.nodeversion}}
        registry-url: https://registry.npmjs.org
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{matrix.pythonversion}}
    - run: sudo npm install -g chg
    - name: Update Pulumi Terraform Bridge Dependency
      run: cd provider && go mod edit -require github.com/pulumi/pulumi-terraform-bridge/v3@${{
        github.event.client_payload.ref }} && go mod tidy && cd ../
    - run: make build_sdks
    - run: chg add "Upgrading pulumi-terraform-bridge to ${{ github.event.client_payload.ref
        }}
    - name: commit changes
      uses: EndBug/add-and-commit@v7
      with:
        author_email: bot@pulumi.com
        author_name: pulumi-bot
        ref: update-bridge/${{ github.event.client_payload.ref }}-${{ github.run_id
          }}
    - env:
        GITHUB_TOKEN: ${{ secrets.PULUMI_BOT_TOKEN }}
      name: pull-request
      uses: repo-sync/pull-request@v2
      with:
        author_name: pulumi-bot
        destination_branch: master
        github_token: ${{ secrets.PULUMI_BOT_TOKEN }}
        pr_allow_empty: "true"
        pr_assignee: stack72
        pr_body: '*Automated PR*'
        pr_label: automation/merge
        pr_reviewer: stack72
        pr_title: Upgrade to ${{ github.event.client_payload.ref }} of pulumi-terraform-bridge
        source_branch: update-bridge/${{ github.event.client_payload.ref }}-${{ github.run_id
          }}
    strategy:
      fail-fast: true
      matrix:
        dotnetversion:
        - 3.1.301
        goversion:
        - 1.17.x
        nodeversion:
        - 14.x
        pythonversion:
        - "3.7"
"on":
  repository_dispatch:
    types:
    - update-bridge
